body{
    margin: 0;
}


.style1 {
    background-color: rgb(7, 141, 231);
    background-image: url("./img/pattern.png");
    background-size: 300px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.title {
    font-size: 3.5rem;
}

.author {
    color: #0184ac;
}

.date {
    color: rgb(105, 105, 105);
}

.container {
    width: 85;
    margin: 0;
}

.photo{
    display: block;
}

table{
    border-collapse: collapse;
}

.table_w{
    width: 50%;
}

.table_color1 {
    background-color: #209cc2;
    color: white;

}

.table_color2 {
    background-color: #bde6f3;
}

h2 {
    color: rgb(112, 112, 112);
}

.monitor {
    width: 300px;
    height: 250px;
    margin-bottom: 1rem;
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    color: antiquewhite;
    padding: 1rem;

}

.graph{
    width: 300px;
    height: 250px;
    margin-bottom: 1rem;
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    color: antiquewhite;
    padding: 1rem;

}
